@implements IDisposable
@inject IDbService _dbService
@inject NotificationStateContainer StateContainer
@inject VoucherStateContainer VoucherStateContainer

<span class="cart__icon">
    <i class="ri-shopping-basket-line" @onclick="OpenCart">
    </i><span class="cart__badge">@StateContainer.Property</span>
</span>
@code {

    protected override async Task OnInitializedAsync()
    {
        var result = await _dbService.GetFoodsList();
        StateContainer.Property = result.Count.ToString();
        StateContainer.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }

    void OpenCart()
    {
        VoucherStateContainer.Property = EnumCartType.Enable;
    }

}